<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Eric Rohrs</h1>
      <hr>
      <p>An intuitive engineer, enthusiastic about advancing medical science for the benefit of humanity.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="row">
          <div class="col-md-4 mx-auto text-center">
            <h2 class="section-heading text-white">Engineer</h2>
          </div>
          <div class="col-md-4 mx-auto text-center">
            <h2 class="section-heading text-white">Scientist</h2>
          </div>
          <div class="col-md-4 mx-auto text-center">
            <h2 class="section-heading text-white">Coder</h2>
          </div>
        </div>
        <hr class="light">
        <p class="text-faded">Post-doctoral research associate with excellent work ethic, and a history applying multidisciplinary, collaborative approaches to projects, leadership, and problem-solving. Enthusiastic about tackling new and challenging projects, and designing creative solutions. A quick learner, able to master new skills and technologies and apply them to advance projects and tasks. Experienced in experimental design and data analysis, and device design, development, fabrication, and validation. Entrepreneurial professional, with experience running a business, and developing business partnerships.</p>
        <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Learn More!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Skills</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Professional</h3>
          <p class="text-muted">Agile Learner, Advising, Cross-functional Communication, Leadership, Mentoring, Presentations, Problem Solving, Standard Operating Procedures (SOPs), Teamwork, Technical Writing</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Technical</h3>
          <p class="text-muted">Data Analysis, Engineering Principles, Experimental Design, 3D Modeling, 3D Printing, Laboratory Bench Technique, Machining, Mechanical Testing, PCB Design, Product Design, Product Testing, Product Validation, Rodent Surgical Techniques, Statistical Analysis</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Software</h3>
          <p class="text-muted">Ansys, C, C++, EagleCAD, HTML/CSS/JavaScript, JMP, LabVIEW, MATLAB, ProE, Ruby on Rails, Solidworks, SPSS, Statistica</p>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/1.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/2.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/3.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/4.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/5.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/fullsize/6.jpg">
          <img class="img-fluid" src="https://blackrockdigital.github.io/startbootstrap-creative/img/portfolio/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="call-to-action bg-dark">
  <div class="container text-center">
    <h2>Check Out My Resume!</h2>
    <a class="btn btn-default btn-xl sr-button" href="https://s3-us-west-2.amazonaws.com/rohrsengimages/EricLRohrs_V3.pdf">Resume</a>
  </div>
</div>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p>If you have any questions please reach out to me! Send me an email, contact me via LinkedIn, or check out the code on GitHub!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <a href="linkedin.com/in/eric-rohrs-4721a81a" alt="">
          <i class="fa fa-linkedin-square fa-3x sr-contact"></i>
        </a>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p>
          <a href="mailto:rohrs.eric@gmail.com">rohrs.eric@gmail.com</a>
        </p>
      </div>
      <div class="col-lg-4 ml-auto text-center">
        <a href="https://github.com/RohrsEngineering" alt="">
          <i class="fa fa-github-square fa-3x sr-contact"></i>
        </a>
      </div>
    </div>
  </div>
</section>